/* 
Name: Justin Bourne 
File: style.css
Date: 8 October 2024
The style sheet for index.html
*/

/* General setup */
* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  line-height: 150%;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1 {
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-size: 2.5em;
  letter-spacing: 1px;
}

.p1 {
  text-indent: 20px;
}

a:link {
  color: #a66;
}

a:visited {
  color: rgb(74, 107, 169);
}

a:focus {
  color: orange;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:active {
  color: rgb(199, 46, 0);
  text-decoration: underline overline rgb(199, 46, 0);
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  background-size: 100%;
  background-image: url("external-link-52.png");
}

ul {
  list-style-type: square;
  line-height: 150%;
}

.container li {
  display: block;
  gap: 0.625%;
  flex: 1;
  text-align: center;
  font-size: large;
  border: 1px solid #a66;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
}

.container a {
  font-size: large;
  text-decoration: none;
}
